$_pm-default-table-color: #4F93FE;
$_pm-default-background: #F9F9F9;
$_pm-base-color: #ffffff;
$_pm-default-color: #222222;
$_pm-default-light-color: #737373;
$_pm-table-header-color: #F5F6FA;


$_pm-default-table-line-color: #f8f8f8;
$_pm-default-color: #6f6f6f;
$_pm-default-pagination-color: #969696;
$_pm-default-dark-color: #454545;
$_pm-base-dark-color: #05584b;
$_pm-fail-color: #ff6f6f;
$_pm-default-border-color: #ebeef5;
