@import '../../style/variables';

.fill-contain {
  height: 100%;
  width: 100%;
}

.el-header {
  width: 100%;
  height: 68px !important;
  background: #FFFFFF;
  border-bottom: 1px solid #E2E2E4;
}

.el-main {
  background-color: #F5F6FA;
  padding: 0;
}

.main-container {
  padding: 30px 34px;
  min-width: 1000px;
  //overflow-x: auto;
  .common-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 74px;
    padding: 0 25px;
    .el-input{
      max-width: 182px;
    }
  }
  .common-table {
    padding: 25px;
    .common-table-header{
      .el-tabs__header {
        margin: 0;
      }
      .el-tabs__item {
        color: $_pm-default-light-color;
        &:hover {
          color: $_pm-base-color;
        }
        &.is-active {
          color: $_pm-base-color;
        }
      }
      .el-tabs__active-bar {
        &.is-top{
          height: 2px !important;
        }
      }
      .el-tabs__nav-wrap {
        &::after {
          height: 0;
        }
      }
    }
    .el-table {
      thead tr th {
        height: 48px;
        color: $_pm-default-color;
        background: $_pm-table-header-color;
      }
      td, th {
        padding: 0;
        height: 48px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    padding: 30px 2px;
    min-width: 900px;
  }
}


